<div class="container">
  <span><%= link_to 'Join a Chatroom', root_path %></span>
  <div style="float: right">
    <% if user_signed_in? %>
    <span style="color: red"> <%= current_user.username %></span>
        <%= link_to "Loginout", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
<div>
