<!DOCTYPE html>
<html>
<thead>
  <title><%= yield(:title) %> | Strikingly</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/header' %>
</thead>
<body>
<div id="chatrooms">
      <% if user_signed_in? %>
          <h4>My chatrooms</h4>
          <ul>
            <% current_user.chatrooms.get_public_chatrooms.each do |chatroom| %>
                <li>
                <a href="#" class="media active-message">
                  <div class="media-body">
                  <img id="<%=chatroom.id%>" class="d-flex mr-3" src=<%= (chatroom.updated_at) < (RoomUser.where(chatroom_id:chatroom.id,user_id:current_user.id).last.last_read_at)? "https://robohash.org/4.png?set=set3": "https://robohash.org/4.png?set=set4"
                  %> width="25" /><strong><%= link_to chatroom.roomname, chatroom, data: { chatroom_id: chatroom.id} %></strong><br/>
                  </div>

                </a>
                </li>
            <% end %>
          </ul>
      </div>
      <div id="users">
          <h4>Users</h4>
          <ul>
            <% (User.all - [current_user]).each do |user| %>
                <li><%= link_to user.username, private_chat_path(user.id)  %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
<div class="col-sm-10 col-sm-offset-2" style="position: fixed; top: 40px; left: 450px;">
  <%= yield %>
</div>
</body>
</html>
